[submodule "third_party/Pytorch-Correlation-extension"]
	path = third_party/Pytorch-Correlation-extension
	url = https://github.com/ClementPinard/Pytorch-Correlation-extension.git
[submodule "third_party/aot-benchmark"]
	path = third_party/aot-benchmark
	url = https://github.com/yoxu515/aot-benchmark
